@media (max-width: 1312px) {
  body.aside-menu-open .aside {
    display: none;
  }
  body.aside-menu-open .aside-compact {
    display: block;
  }
  body.aside-menu-open .head_href {
    margin-left: 72px;
    width: calc(100% - 72px);
  }
  body.aside-menu-open .head_href ul {
    padding-left: 50px;
  }
  body.aside-menu-open .left-phade {
    width: 50px;
  }
  body.aside-menu-open .wrap {
    margin-left: 72px;
    width: calc(100% - 72px);
  }
}
